---
import Layout from '../layouts/Layout.astro';
import Guitarra from '../components/Guitarra.astro';
import Curso from "../components/Curso.astro"
import Post from '../components/Post.astro';

// Llamado a la API de Guitarras
const urlGuitarras = `${import.meta.env.PUBLIC_API_URL}/guitarras/?populate=imagen`
const urlCurso = `${import.meta.env.PUBLIC_API_URL}/curso/?populate=imagen`
const urlPosts = `${import.meta.env.PUBLIC_API_URL}/posts/?populate=imagen`

const [resGuitarras, resCurso, resPosts] = await Promise.all([
	fetch(urlGuitarras),
	fetch(urlCurso),
	fetch(urlPosts)
])

const [{data: guitarras}, {data: curso}, {data: posts}] = await Promise.all([
	resGuitarras.json(),
	resCurso.json(),
	resPosts.json()
])

---

<Layout title="Inicio" description="Tienda de instrumentos musicales, cursos, blog de musica, guitarras">
	<main class="contenedor">
		<h1 class="heading">Nuestra Colección</h1>
		<div class="grid">
			{guitarras?.map( guitarra => (
				<Guitarra 
					nombre={guitarra.attributes.nombre}
					descripcion={guitarra.attributes.descripcion}
					precio={guitarra.attributes.precio}
					url={guitarra.attributes.url}
					imagen={guitarra.attributes.imagen.data.attributes.formats.medium.url}
				/>
			))}
		</div>
	</main>

	<Curso 
		titulo={curso.attributes.titulo}
		contenido={curso.attributes.contenido}
		imagen={curso.attributes.imagen.data.attributes.url}
	/>

	<section class="contenedor">
		<h2 class="heading">Blog</h2>
		<div class="grid">
			{posts?.map( post => (
				<Post 
					titulo={post.attributes.titulo}
					contenido={post.attributes.contenido}
					fecha={post.attributes.publishedAt}
					imagen={post.attributes.imagen.data.attributes.formats.medium.url}
					url={post.attributes.url}
				/>
			))}
		</div>
	</section>
</Layout>

<style>
	
</style>
