---
import Layout from '../layouts/Layout.astro';
import Guitarra from '../components/Guitarra.astro';

const url = `${import.meta.env.PUBLIC_API_URL}/guitarras/?populate=imagen`
const res = await fetch(url)
const {data} = await res.json()

---

<Layout title="Tienda" description="Tienda de instrumentos musicales, cursos, blog de musica, guitarras">
	<main class="contenedor">
		<h1 class="heading">Nuestra Colección</h1>

		<div class="grid">
			{data?.map(guitarra => (
				<Guitarra 
					nombre={guitarra.attributes.nombre}
					descripcion={guitarra.attributes.descripcion}
					precio={guitarra.attributes.precio}
					url={guitarra.attributes.url}
					imagen={guitarra.attributes.imagen.data.attributes.formats.medium.url}
				/>
			))}

		</div>


	</main>
</Layout>

<style>
	
</style>